<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mace.microservice.provider.dept.dao.DeptDao" >

    <!-- com.mace.microservice.common.entity.Dept -->
    <insert id="insertOne" parameterType="Dept">
      INSERT INTO dept (deptno, dname, db_source )
      VALUES
	    (#{deptno}, #{dname}, DATABASE())
    </insert>
    <select id="findAll" resultType="Dept">
      SELECT
        id,
        deptno,
        dname,
        db_source
      FROM
        dept
    </select>
</mapper>